<!--
  The context has a key named "names" in it
  that is a list of names.

  Complete the pseudocode below to create an
  li (list item) tag using a Django for loop
  for each name in names.
-->
{% extends 'base.html' %}
{% block title %}
  <title>Problem 005</title>
{% endblock title %}
{% block content %}
<body>
  <main>
    <ul>
      <!-- for each name in names -->
      {% for name in names %}
        <li>{{ name }}</li>
      <!-- End for -->
      {% endfor %}
    </ul>
  </main>
</body>
{% endblock content %}
