<!--
For this file, please open the associated problem_037.css
file.

This file contains a list of people in divs as children
of the div with the "name-grid" class.
-->
{% extends 'base.html' %}
{% load static %}

{% block title %}
  <link rel="stylesheet" href="{% static 'css/problem_037.css' %}">
  <title>Problem 37</title>
{% endblock title %}

{% block content %}
<body>
  <main>
    <div class="name-grid">
      {% for person in people %}
        <div class="name-grid-entry">
          <div class="name-grid-name">{{ person.name }}</div>
          <div class="name-grid-pronouns">{{ person.pronouns }}</div>
        </div>
      {% endfor %}
    </div>
  </main>
</body>
{% endblock content %}
