<!--
  Do it again, please, but all of it.

  Add the fundamental five to this file.
  They are: doctype, html, head, title, body.

  Then, make the title of the document "Problem 003"
  (without the quotation marks)

  Put a lang="en" attribute on the html tag
-->
{% extends 'base.html' %}
{% block title %}
  <title>Problem 003</title>
{% endblock title %}

{% block content %}
<body>
</body>
{% endblock content %}
