{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Problem 017</title>
  <link rel="stylesheet" href="{% static 'css/problem_017.css' %}"/>
{% endblock title %}

  <!--
    Add the link tag using the static Django tag to
    load the "css/problem_017.css" file.

    This time, try to do it from memory.
  -->
{% block content %}
<body>
  <main>
    <div class="error">This is an error message</div>
    <p>
      Add the <code>link</code> tag to this HTML template
      to load <code>css/problem_017.css</code> using the
      <b>static</b> Django tag.
    </p>
  </main>
</body>
{% endblock content %}
