{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Problem 021</title>
  <link rel="stylesheet" href="{% static 'css/problem_019.css' %}"/>
{% endblock title %}

{% block content %}
<body>
    <main>
        <!--
    Build the whole unordered list from memory
    by looping over each name in the "names"
    key of the context and creating a list
    item where each odd item is grey and the
    others aren't.
-->
        <ul>
        {% for name in names %}
            <!--
    Use cycle where indicated in the following
    from memory
-->
            <li class="{% cycle 'grey'  '' %}">{{ name }}</li>
        {% endfor %}
    </ul>
    </main>
</body>
{% endblock content %}
