<!--
  The context has a key named "show_infromation"
  in it.

  Complete the pseudocode below to wrap the
  p tag in a Django if statement to only show
  the p tag if show_information is True
-->
{% extends 'base.html' %}
{% block title %}
  <title>Problem 004</title>
{% endblock title %}

{% block content %}
<body>
  <main>
    <!-- If show_information is True -->
    {% if show_information != True %}
      <p><code>show_information</code> is true</p>
    <!-- End if -->
    {% endif %}
  </main>
</body>
{% endblock content %}
