{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Problem 015</title>
  <link rel="stylesheet" href="{% static 'css/problem_015.css' %}"/>
{% endblock title %}

{% block content%}
<body>
  <main>
    <div class="error">This is an error message</div>
    <p>Open <code>static/css/problem_015.css</code> to solve this.</p>
  </main>
</body>
{% endblock content %}
