<!--
  Add the fundamental five to this file.
  They are: doctype, html, head, title, body.
-->
{% extends 'base.html' %}
{% block title %}
  <title>Document</title>
{% endblock title %}

{% block content %}
<body>
</body>
{% endblock content %}
