<!--
This file contains a list of people in divs as children
of the div with the "name-grid" class.
-->
{% extends 'base.html' %}
{% load static %}

{% block title %}
  <link rel="stylesheet" href="{% static 'css/problem_039.css' %}">
  <title>Problem 39</title>
{% endblock title %}

{% block content %}
<body>
  <main>
    <div class="name-grid">
      {% for person in people %}

        <!-- Only show the card entries for people 21 and over -->
          <div class="name-grid-entry">
            <div class="name-grid-name">{{ person.name }}</div>
            <div class="name-grid-pronouns">{{ person.pronouns }}</div>
          </div>

      {% endfor %}
    </div>
  </main>
</body>
{% endblock content %}
