{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Problem 019</title>
  <link rel="stylesheet" href="{% static 'css/problem_019.css' %}"/>
{% endblock title %}

{% block content %}
<body>
  <main>
    <ul>
      {% for name in names %}
        <!--
          Use cycle where indicated in the following
          {% cycle "class-1" "class-2" %}
        -->
        <li class="{% cycle 'grey' '' %}">{{ name }}</li>
      {% endfor %}
    </ul>
  </main>
</body>
{% endblock content %}
