{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Problem 018</title>
  <link rel="stylesheet" href="{% static 'css/problem_018.css' %}"/>
{% endblock title %}


  <!--
    Add the link tag using the static Django tag to
    load the "css/problem_018.css" file.

    Then, add the style in the css/problem_018.css file.
  -->

{% block content %}
<body>
  <main>
    <div class="error">This is an error message</div>
    <p>
      Add the <code>link</code> tag to this HTML template
      to load <code>css/problem_018.css</code> using the
      <b>static</b> Django tag.
    </p>
    <p>
      Then, modify <code>css/problem_018.css</code> to make
      the test pass.
    </p>
  </main>
</body>
{% endblock content %}
