{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Problem 022</title>
  <link rel="stylesheet" href="{% static 'css/problem_019.css' %}"/>
{% endblock title %}

{% block content %}
<body>
    <main>
        <!--
    Do it, again, but this time swap the list
    items that are grey.

    Build the whole unordered list from memory
    by looping over each name in the "names"
    key of the context and creating a list
    item where each EVEN item is grey and the
    ODD ones aren't.
-->
        <ul>
            {% for name in names %}
                <li class="{% cycle '' 'grey' %}">{{ name }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
{% endblock content %}
