{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Problem 014</title>
  <link rel="stylesheet" href="{% static 'css/problem_014.css' %}"/>
{% endblock title %}

{% block content %}
</head>
<body>
  <main>
    <div class="error">This is an error message</div>
    <p>Open <code>static/css/problem_014.css</code> to solve this.</p>
  </main>
</body>
{% endblock %}
