<!--
  1. Add the lang="en" attribute to the html tag
  2. Make the title of the page "Problem 002" (without the quotation marks)
-->

{% extends 'base.html' %}
{% block title %}
  <title>Problem 002</title>
{% endblock title %}

{% block content %}
<body>
</body>
{% endblock content %}
